.leasing-calculator__title-text {
   font-family: var(--font-inter);
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
   color: rgba(81, 81, 81, 1);
}

.leasing-calculator__box {
   margin-top: 93px;
}

@media (max-width: 768px) {
   .leasing-calculator__box {
      flex-direction: column;
      margin-top: 20px;
   }
}