.about-company {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.about-company__box--up {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}

.about-company__box--up .about-company__header {
   grid-area: 1 / 1 / 2 / 2;
}

.about-company--text {
   font-size: 20px;
   line-height: 20px;
   text-align: left;
}

@keyframes fadeInUp {
   0% {
      opacity: 0;
      transform: translateY(250px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.about-company--big-test {
   font-size: 200px;
   font-weight: 500;
   line-height: 200px;
   text-align: left;
   color: rgba(0, 69, 178, 1);
   opacity: 0;
   /* Начальное состояние - невидимый элемент */
   transform: translateY(250px);
   /* Начальное состояние - сдвиг вниз */
   transition: opacity 0s, transform 0s;
   /* Отключение перехода по умолчанию */
}

.about-company--big-test--visible {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 2s ease-out, transform 2s ease-out;
   /* Включение плавного перехода */
}

.about-company__box--up .about-company__content {
   grid-area: 1 / 2 / 2 / 5;
}

.about-company__box--medium {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 25px;
   grid-row-gap: 0px;
}

.about-company__box--medium .about-company__stats {
   grid-area: 1 / 1 / 2 / 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.about-company__box--medium .about-company__description {
   grid-area: 1 / 3 / 2 / 4;
}

.about-company__box--medium .about-company__achievements {
   grid-area: 1 / 4 / 2 / 5;
}

.about-company__box--down {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 0px;
   justify-items: end;
   align-items: end;

}

.about-company__box--down .about-company__years {
   grid-area: 1 / 2 / 2 / 3;
}

.about-company__box--down .about-company__image {
   grid-area: 1 / 3 / 2 / 5;
   width: 100%;
   height: 100%;
}


.about-company__box--down .about-company__image img {
   width: 100%;
   height: 100%;
}