.leasing-programs {
   display: flex;
   flex-direction: column;
   gap: 60px;
}

.leasing-programs__content {
   position: relative;
}

.leasing-programs__list {
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding-left: 20px;
   border-left: 1px solid var(--line-blue);
}

.leasing-programs__list-item {
   cursor: pointer;
   color: var(--text-gray-dark);
   font-family: var(--font-inter);
}

.leasing-programs__list-item:hover {
   color: var(--text-blue);
}

.leasing-programs__list-item--active {
   text-decoration: underline;
   color: var(--text-blue);
}

.leasing-programs__list-header {
   background: none;
   border: none;
   cursor: pointer;
}

.leasing-programs__icon-rt180 {
   transition: transform 0.3s;
}

.leasing-programs__icon-rt180.active {
   transform: rotate(180deg);
}

.leasing-programs__details {
   max-height: 826px;
   max-width: 100%;
   display: flex;
}

.leasing-programs__content-wrapper {
   max-width: 50%;
   width: 100%;
   background-color: var(--back-blue);
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 70px;
}

.leasing-programs__row {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.leasing-programs__title-wrapper {
   display: flex;
   flex-direction: column;
}

.leasing-programs__term,
.leasing-programs__prepaid {
   font-family: var(--font-inter);
   font-size: 40px;
   font-weight: 500;
   line-height: 48.4px;
   color: var(--white);
   margin-bottom: 10px;
}

.leasing-programs__title-wrapper p,
.leasing-programs__row>p {
   font-family: var(--font-inter);
   font-size: 18px;
   font-weight: 400;
   line-height: 25.2px;
   color: var(--white);
}

.leasing-programs__button-wrapper {
   text-align: center;
}

.leasing-programs__img-wrapper {
   max-width: 50%;
   width: 100%;
}

.leasing-programs__img-wrapper img {
   height: 100%;
   object-fit: cover;
   object-position: center;
}

#js-leasing-info {
   min-height: 76px;
}

@media(max-width: 1280px) {
   .leasing-programs__details {
      max-height: 636px;
      min-height: 636px;
      max-width: 100%;
   }


   .leasing-programs {
      padding: 0;
   }

   .leasing-programs__content {
      margin-top: 60px;
   }

   .leasing-programs__title {
      padding: 0 20px;
   }

   .leasing-programs__content-wrapper {
      padding: 40px 20px;
      gap: 30px;
   }

   .leasing-programs__row {
      gap: 30px;
   }

   .leasing-programs__term,
   .leasing-programs__prepaid {
      font-size: 30px;
      line-height: 36.3px;
   }

   .leasing-programs__row>p,
   .leasing-programs__title-wrapper p {
      font-size: 16px;
      line-height: 19.36px;
   }

   .leasing-programs__list-header {
      position: absolute;
      top: 15px;
      right: 10px;
      z-index: 99;
   }


}

.leasing-programs__list--open {
   display: flex !important;
}

.leasing-programs__mobile-title {
   display: none;

   justify-content: space-between;
   align-items: center;
}

.leasing-programs__list-mobile {
   display: none;
   padding: 10px 10px 0 10px;
   width: 100%;
}

.leasing-programs__list-mobile li {
   margin-bottom: 20px;
}

@media(max-width: 1280px) {


   .leasing-programs__mobile-select {
      position: absolute;
      display: block;
      border-radius: 2px;
      border: 1px solid gray;
      background: white;
      width: 94%;
      min-height: 45px;
      transform: translate(3%, -60px);
      margin: 0 auto;
   }

   .leasing-programs__list-item--active {
      text-decoration: none;
   }

   .leasing-programs__list {
      display: none;
      border-left: 0;
      padding: 15px;
      gap: 25px;
   }

   .leasing-programs__mobile-title {
      display: flex;
   }

   .leasing-programs__mobile-title p {
      color: var(--text-blue);
      padding: 10px;
      text-decoration: none;
   }
}