.leasing-programs {
   display: flex;
   flex-direction: column;
   gap: 60px;
}

.leasing-programs__content {
   position: relative;
}

/* desktop v1 */
.leasing-programs__list {
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding-left: 20px;
   border-left: 1px solid var(--dark-blue);
}

.leasing-programs__list-item {
   cursor: pointer;
   color: var(--medium-gray);

}

.leasing-programs__list-item:hover {
   color: var(--dark-blue);
}

.leasing-programs__list-item--active {
   text-decoration: underline;
   color: var(--dark-blue);
}

.leasing-programs__icon-rt180 {
   transition: transform 0.3s;
}

.leasing-programs__icon-rt180.active {
   transform: rotate(180deg);
}

.leasing-programs__details {
   display: grid;
   grid-template-columns: 50% 1fr;
   background-color: var(--dark-blue);
}

.leasing-programs__content-wrapper {
   padding: 50px;
   height: 830px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, auto) 1fr;
   gap: 40px;
}

.leasing-programs__content-wrapper:last-child {
   margin-top: auto;
}

.leasing-programs__content-wrapper__text {
   margin-bottom: 30px;
}


.leasing-programs__title-wrapper {
   display: flex;
   flex-direction: column;
}

.leasing-programs__term,
.leasing-programs__prepaid {

   font-size: 40px;
   font-weight: var(--font-w5);
   line-height: 48.4px;
   color: var(--white);
   margin-bottom: 10px;
}

.leasing-programs__details p {
   color: var(--white);
}

.leasing-programs__button-wrapper {
   text-align: center;
}


.leasing-programs__img-wrapper img {
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.leasing-programs__img-wrapper--mobile {
   display: none;
}

@media(max-width: 1280px) {
   .leasing-programs__details {
      grid-template-columns: 60% 1fr
   }

   .leasing-programs__content .mobile__select {
      margin-top: -60px;
   }

   .leasing-programs {
      padding: 0;
   }

   .leasing-programs__content {
      margin-top: 60px;
   }

   .leasing-programs__title {
      padding: 0 20px;
   }

   .leasing-programs__content-wrapper {
      padding: 40px 20px;
      height: 636px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto) 1fr;
      gap: 30px;
   }

   .leasing-programs__term,
   .leasing-programs__prepaid {
      font-size: 30px;
      line-height: 36.3px;
   }

   .leasing-programs__list--open {
      display: flex !important;
   }

}

@media (max-width: 768px) {
   .leasing-programs__img-wrapper--mobile {
      display: block;
   }

   .leasing-programs__details {
      grid-template-columns: 1fr
   }

   .leasing-programs {
      background-color: var(--dark-blue);
   }

   .leasing-programs__content-wrapper {
      height: 100%;
      padding: 30px 10px 90px 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto) 1fr;
      gap: 20px;
   }

   .leasing-programs__title {
      padding: 0 10px;
   }

   .leasing-programs.mt-160px {
      margin-top: 0;
      padding-top: 90px;
   }

   .leasing-programs__title {
      color: var(--white);
   }

   .leasing-programs__content-wrapper div:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
      margin-bottom: 10px;
   }

   .leasing-programs__content-wrapper div:nth-child(2) {
      grid-area: 2 / 1 / 3 / 3;
   }

   .leasing-programs__content-wrapper div:nth-child(3) {
      grid-area: 1 / 2 / 2 / 3;
   }

   .leasing-programs__content-wrapper div:nth-child(4) {
      grid-area: 3 / 1 / 4 / 3;
   }

   .leasing-programs__content-wrapper div:nth-child(5) {
      grid-area: 4 / 1 / 5 / 3;
   }

   .leasing-programs__content-wrapper div:nth-child(6) {
      grid-area: 5 / 1 / 6 / 3;
   }

   .leasing-programs__content-wrapper div:nth-child(7) {
      grid-area: 6 / 1 / 6 / 3;
   }

   .leasing-programs__term,
   .leasing-programs__prepaid {
      margin-bottom: 5px;
   }

   .leasing-programs__content-wrapper__text {
      margin-bottom: 0;
   }

   .leasing-programs__img-wrapper {
      display: none;
   }

   .leasing-programs__img-wrapper--mobile {
      display: block;
   }

   .leasing-programs__term,
   .leasing-programs__prepaid {
      font-size: 24px;
      line-height: 29.04px;
   }

   .leasing-programs__img-wrapper img {
      height: 400px  !important;

   }
}

@media (max-width: 500px) {

   .leasing-programs__img-wrapper img {
      height: 300px  !important;
      object-fit: cover;
      object-position: top;
   }
}