.personal-data__table {
   border-top: 1px solid rgba(151, 151, 151, 1);
   border-left: 1px solid rgba(151, 151, 151, 1);
   border-right: 1px solid rgba(151, 151, 151, 1);
   display: flex;
   font-size: 18px;
}

.personal-data__table:last-child {
   border-bottom: 1px solid rgba(151, 151, 151, 1);
}

.personal-data__table li {
   padding: 15px 0px;
   margin: 0 20px;
   width: 100%;
}

.personal-data__table li:first-child {
   max-width: 307px;
   min-width: 126px;
   border-right: 1px solid rgba(151, 151, 151, 1);
}

.personal-data__table li:last-child {
   list-style-type: disc;
}

.personal-data__table:not(:first-child) li:last-child {
   color: rgba(151, 151, 151, 1);
}

.personal-data__table:first-child li:last-child {
   color: rgba(255, 255, 255, 1);
}

.personal-data__title h3 {
   line-height: 85px;
   margin-bottom: 100px;
}

.personal-data__item {
   padding: 40px 0;
   border-top: 1px solid rgba(151, 151, 151, 1)
}

.personal-data__item:last-child {
   border-bottom: 1px solid rgba(151, 151, 151, 1)
}

.personal-data__item-title {
   font-size: 20px;
   line-height: 24.2px;

}

@media (max-width:1280px) {
   .personal-data__title h3 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 60px;
   }

   .personal-data-description {
      padding-left: 20px;
   }


   .personal-data__item {
      padding: 30px 0;
   }
}