.production__module-window-box {
   display: flex;
   width: 100%;
}

.production__module-window-img {
   max-width: 450px;
   height: 100%;
   width: 35%;
}

.production__module-window {
   padding: 50px;
   background: rgba(242, 242, 242, 1);
   width: 100%;
}

.production__module-window__checkbox {
   margin: 20px 0 30px 0;
}

.production__module-window__form-group {
   margin: 0 !important;
}

.production__module-window__form-items {
   gap: 20px !important;
   margin: 0 !important;
}

.production__module-window__title {
   font-size: 50px;
   line-height: 52px;
   color: rgba(0, 69, 178, 1);
}

.production__module-window__description {
   margin: 15px 0 40px 0;
   font-size: 20px;
   line-height: 28px;
}

.production__form {
   width: 100%;
   display: flex;
}

.production__cards {
   margin-top: 40px;
   display: flex;
   column-gap: 40px;
   row-gap: 60px;
   flex-wrap: wrap;
   flex-direction: row;
}

.production__cards--item {
   height: 100%;
   width: calc(33% - 24px);
}

.production__cards--item--img {
   padding: 20px;
   background-color: rgba(242, 242, 242, 1);
   margin-bottom: 8px;
   aspect-ratio: 1;

}

.production__cards--item--img img {
   height: 100%;
}

.production__cards--item--text p:nth-child(1) {
   font-size: 20px;
   line-height: 24.2px;

}

.production__cards--item--text p:nth-child(2) {
   font-size: 20px;
   line-height: 24.2px;
   font-weight: 500;
   color: rgba(151, 151, 151, 1);
   margin: 8px 0;
}

.production__cards--item--text p:nth-child(3) {
   font-size: 16px;
   line-height: 19.36px;
   color: rgba(151, 151, 151, 1);
}

.leady-loading {
   display: none;
}

@media (max-width:1280px) {
   .production__cards {
      justify-content: space-between;
      column-gap: 0;
      row-gap: 40px;
   }

   .production__cards--item {
      width: calc(50% - 10px);
   }

   .production__cards--item--text p:nth-child(1) {
      font-size: 18px;
      line-height: 21.78px;

   }

   .production__cards--item--text p:nth-child(2) {
      font-size: 18px;
      line-height: 21.78px;
      margin: 6px 0;
   }

   .production__cards--item--text p:nth-child(3) {
      font-size: 14px;
      line-height: 16.94px;
   }

}

@media (max-width:360px) {
   .leady-loading {
      margin: 0 auto;
      display: block;
      max-width: 65%;
   }

   .production__cards {
      flex-direction: column;
   }

   .production__cards--item {
      width: 100%;
   }

   .production__module-window {
      padding: 20px;
   }

   .production__cards--item--img {
      max-width: 340px;
   }

   .production__cards--item--text p:nth-child(1) {
      font-size: 16px;
      line-height: 19.36px;
   }

   .production__cards--item--text p:nth-child(2) {
      font-size: 16px;
      line-height: 19.36px;
      margin: 7px 0;
   }

   .production__cards--item--text p:nth-child(3) {
      font-size: 14px;
      line-height: 16.94px;
   }

   .production__module-window__title {
      font-size: 30px;
      line-height: 31.22px;
   }

   .production__module-window__description {
      font-size: 15px;
      line-height: 21px;
      margin: 15px 0 30px 0;
   }

}