.partners-box__content {
   display: flex;
   flex-direction: column;
}

.partners-box__up {
   display: flex;
   column-gap: 40px;
   row-gap: 20px;
}

.partners-box__time-value {
   font-size: 24px;
   font-weight: 400;
   line-height: 29.04px;
}

.partners-box__title {
   margin-top: 14px;
   min-width: 410px;
   font-size: 20px;
   font-weight: 400;
   line-height: 20.82px;
   text-align: left;
}

.partners-box__text {
   font-family: var(--font-inter);
   font-size: 24px;
   font-weight: 400;
   line-height: 29.04px;
   color: var(--text-gray-dark);
   margin: 30px 0 40px 0;
}

.custom-slider__icon {
   fill: #fff;
   stroke: #0045B2;
   transition: all 200ms ease;
}

.custom-slider__button:hover .custom-slider__icon {
   fill: #0045B2;
   stroke: #fff;
   transition: all 200ms ease;
}


.partners-box__time {
   display: flex;
   gap: 40px;
   margin-bottom: 60px;
}

.partners-box__time-item {
   width: 410px;
}

.partners-box__time-description {
   margin-top: 10px;
   font-size: 18px;
   line-height: 21.78px;
}

.partners-box__button {
   max-width: 410px;
}


.custom-slider__buttons {
   display: flex;
   gap: 20px;
   max-width: 120px;
}

.custom-slider__button {
   width: 50px;
   height: 50px;
}

.custom-slider__button:last-child {
   transform: rotate(180deg);
}

.custom-slider {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.custom-slider--reverse {
   flex-direction: column-reverse;
   align-items: end;
}

.custom-slider__box {
   position: relative;
   height: 410px;
   width: 100%;
   overflow: hidden;
}

.custom-slider__container {
   position: absolute;
   top: 0px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 40px;
}

.custom-slider__slide {
   width: 410px;
   height: 410px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--back-gray-light);
}


@media(max-width:768px) {

   .partners-box__up {
      flex-direction: column;
      margin-bottom: 70px;
   }

   .partners-box__text {
      margin: 20px 0 40px 0;
      font-size: 20px;
      line-height: 24.2px;
   }

   .partners-box__time-description {
      font-size: 18px;
      line-height: 21.78px;
   }

   .custom-slider__box {

      height: 261px;
   }

   .partners-box-time {
      margin-bottom: 50px;
   }

   .custom-slider {
      align-items: flex-end;
   }

   .custom-slider__buttons {
      order: 1;
  
   }


   .custom-slider__slide {
      width: 100%;
      height: 261px;
      padding: 23px;
   }

   .custom-slider__boxF {
      height: 261px;
   }

   .custom-slider__container {
      grid-column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
   }

   .custom-slide img {
      object-fit: scale-down;
   }

   .custom-slider__slide img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
   }
}