.partners-items__img>div {
   display: flex;
   aspect-ratio: 1;
   padding: 35px;
   background: rgba(242, 242, 242, 1);

}

.partners-items__img {
   display: grid;
   grid-template-columns: repeat(3, minmax(165px, 1fr));
   gap: 40px;
   grid-template-rows: repeat(3, minmax(165px, 1fr));
}

.partners-items__img-mobile {
   display: none;
}

@media (max-width:1280px) {
   .partners-items__img {
      gap: 20px;
   }
}

@media (max-width:360px) {
   .partners-items__img {
      display: none;
   }

   .partners-items__img-mobile {
      display: block;
   }
}