.partners-items__img>div {
   display: flex;
   aspect-ratio: 1;
   padding: 35px;
   background: var(--light-gray);

}

.partners-items__img {
   display: grid;
   grid-template-columns: repeat(3, minmax(165px, 1fr));
   gap: 40px;
   grid-template-rows: repeat(3, minmax(165px, 1fr));
}

.partners-items__img-mobile {
   display: none;
}

@media (max-width:1280px) {
   .partners-items__img {
      gap: 20px;
   }
}

@media (max-width: 768px) {
   .partners-items__img {
      display: none;
   }

   .partners-items__img-mobile {
      display: block;
   }

   .partners-items__img-mobile .slider__custom {
      align-items: flex-end;
      gap: 20px;
   }

   .partners-items__img-mobile .slider__slide img {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
   }

   .partners-items__img-mobile .slider__slide {
      height: 200px;
      padding: 20px;
      aspect-ratio: 1;
      background-color: var(--light-gray);
   }
}