.partners-items__img>div {
   display: flex;
   width: 410px;
   height: 410px;

   background: rgba(242, 242, 242, 1);
   align-items: center;
   justify-content: center;
}

.partners-items__img>div>img {
   object-position: center;
   object-fit: scale-down;
}

.partners-items__img {
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

@media (max-width:1280px) {
   .partners-items__img>div {
      width: 230px;
      height: 230px;
      padding: 38px;
   }

   .partners-items__img {
      gap: 20px;
   }
}