.main-slider {
   display: flex;
}

.main-slider__container {
   display: flex;
   width: 100%;
}



.slide--active .slide__additional-text {
   display: none;
}

.slide__additional-text {
   display: flex;
   align-items: flex-end;
   text-wrap: nowrap;
   width: 100%;
   height: 200px;
   padding: 0 0 50px 25px;
}

.slide__additional-text p {
   color: var(--white);
   font-family: var(--font-inter);
   font-size: 30px;
   font-weight: 500;
   line-height: 30px;
}

.slide__content {
   display: none;
}

.slide--active .slide__content {
   display: flex;
   width: 100%;
}

.slide__content .slide__content-text {
   display: flex;
   flex-direction: column;
   max-width: 836px;
   gap: 30px;
   width: 100%;
}

.slide__content .slide__content-text .slide__heading {
   font-family: var(--font-inter);
   color: var(--white);
   font-size: 70px;
   font-weight: 500;
   line-height: 84px;
}

.slide__content .slide__content-text .slide__text {
   font-family: var(--font-inter);
   color: rgba(218, 218, 218, 1);
   font-size: 24px;
   font-weight: 400;
   line-height: 24px;
}

.main-slider__details {
   display: none;
}

.slide--active:hover .slide__content .main-slider__details {
   display: block;
   background-color: var(--white);
   border-radius: 50%;
   width: 91px;
   height: 91px;
   color: var(--text-blue);
   font-family: var(--font-inter);
   font-size: 14px;
   font-weight: 400;
   line-height: 80px;
}

.main-slider--container .slide--active {
   padding: 80px;
}

.slide {
   display: flex;
   align-items: flex-end;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 130px;
   overflow: hidden;
   height: 763px;
}

.background-one {
   background-image: url('/src/assets/images/img/main-slider/step-one.jpeg');
}

.background-two {
   background-image: url('/src/assets/images/img/main-slider/step-two.jpeg');
   background-color: rgba(0, 0, 0, 0.733);
}

.background-three {
   background-image: url('/src/assets/images/img/main-slider/step-three.jpeg');
   background-color: black;
}

.background-four {
   background-image: url('/src/assets/images/img/main-slider/step-four.jpeg');
   background-color: black;
}

.background-one .slide__additional-text {
   background-color: rgba(0, 78, 200, 1);
}

.background-two .slide__additional-text {
   background-color: rgba(0, 69, 178, 1);
}

.background-three .slide__additional-text {
   background-color: rgba(0, 58, 149, 1);
}

.background-four .slide__additional-text {
   background-color: rgba(0, 48, 124, 1);
}

@media(max-width:1280px) {
   .slide__content .slide__content-text .slide__heading {
      font-size: 50px;
      font-weight: 500;
      line-height: 50px;
   }

   .main-slider--container .slide--active {
      padding: 0;
   }

   .slide__content {
      min-width: 622px;
      padding: 20px 20px 60px 20px;
   }

   .slide {
      height: 968px;
   }

   .main-slider__details {
      display: none !important;
   }
}