.main-slider {
   display: flex;
}

.slide {
   position: relative;
   display: flex;
   align-items: flex-end;
   overflow: hidden;
   width: 130px;
   height: 763px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


.slide:not(.slide--active) .slide__content .slide__content-text {
   display: flex;
   flex-direction: column;
   gap: 30px;
   height: 100%;
   min-height: 200px;
   background-color: var(--dark-blue);
   justify-content: flex-end;
   padding: 50px 20px;
}

.slide--active .slide__content .slide__content-text {
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 100vw;
}

.slide .slide__text {
   display: none;
   color: var(--light-gray);
   font-size: 24px;
   line-height: 24px;
   max-width: max-content;
   width: 50%;
}

.slide--active .slide__text {
   display: block;
}

.main-slider__container {
   display: flex;
   width: 100%;
}

.slide--active {
   z-index: 99;
}

.slide--active .slide__content {
   display: flex;
   width: 100vw;
   margin: 80px;
   position: relative;
}



.slide--active .slide__content .slide__content-text .slide__heading {
   color: var(--white);
   font-size: 70px;
   font-weight: var(--font-w5);
   line-height: 84px;
   background-color: transparent;
   max-width: max-content;
   width: 50%;
}

.slide:not(.slide--active) .slide__content {
   position: absolute;
   width: 100vw;
}



.slide:not(.slide--active) .slide__content .slide__content-text .slide__heading {
   color: var(--white);
   font-size: 30px;
   font-weight: var(--font-w5);
   line-height: 30px;
   width: 327px;

}

@media(max-width:1280px) {
   .slide--active .slide__content {
      margin: 50px 40px;
   }

   .slide--active .slide__content .slide__content-text {
      max-width: 50%;
   }

   .slide--active .slide__content .slide__content-text .slide__heading {
      font-size: 50px;
      line-height: 50px;
      min-width: 550px;
   }

   .slide .slide__text {
      min-width: 550px;
   }

   .slide {
      height: 800px;
   }

   .slide:not(.slide--active) .slide__content .slide__content-text {
      min-height: 160px;
      justify-content: center;
   }
}

@media(max-width:900px) {

   .slide .slide__text {
      min-width: 500px;
   }

   .slide--active .slide__content .slide__content-text .slide__heading {
      font-size: 40px;
      line-height: 40px;
      min-width: 500px;
   }
}

@media (max-width: 768px) {


   .slide .slide__content {
      margin: 0 !important;
      padding: 90px 10px !important;

   }

   .slide .slide__content .slide__content-text {
      padding: 0 !important;
   }

   .slide .slide__content .slide__content-text .slide__heading {
      font-size: 50px !important;
      line-height: 50px !important;
      min-width: 100% !important;
   }

   .slide .slide__content .slide__content-text {
      max-width: 90%;
   }

   .slide .slide__content .slide__content-text .slide__heading,
   .slide .slide__content .slide__content-text .slide__heading {
      width: 90% !important;
   }

   .slide .slide__text {
      display: none;
   }

   .slide .slide__content .slide__content-text {
      background-color: transparent !important;
   }

   .slide .slide__content .slide__content-text {
      min-height: auto !important;
   }


   /* _______________________________ */
   /* _______________________________ */
   /* _______________________________ */
   .slide {
      height: 728px;
      width: 0;
   }

   .main-slider {
      position: relative;
   }

   .main-slider-dot {
      display: flex;
      gap: 10px;
      bottom: 0;
      position: absolute;
      transform: translate(-50%, -30px);
      left: 50%;
      z-index: 99;
   }

   .main-slider-dot div {
      border-radius: 10px;
      height: 4px;
      background-color: var(--white);
   }

   .slide__content {
      display: block;
      padding: 0 10px 60px 10px;
   }

   .slide__text {
      display: none;
   }

   .slide__additional-text {
      background-color: var(--transparent) !important;
   }

   .slide__additional-text p {
      display: none;
   }

   .slide__content .slide__content-text .slide__heading,
   .slide__additional-text p {
      font-size: 30px;
      line-height: 36px;
      max-width: 340px;
   }
}

@media (max-width: 430px) {
   .slide .slide__text {
      display: none;
   }

   .slide--active .slide__content .slide__content-text .slide__heading {
      font-size: 30px !important; 
      line-height: 30px !important ;
   }
}