.about-home {
   background: var(--light-gray);
}

.about-home__box-title {
   background-color: var(--dark-blue);
   display: flex;
   padding: 175px 80px;
   gap: 40px;
}

.about-home__box-title-heading {
   margin-top: 8px;
   min-width: 410px;
   font-size: 20px;
   line-height: 20.82px;
   text-align: left;
   color: var(--sky-blue);
}

.about-home__box-title-description {
   font-size: 70px;
   font-weight: var(--font-w5);
   line-height: 84px;
   text-align: left;
   color: var(--white);
}

.about-home__box-content {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: flex-end;
   padding: 60px 80px 60px 80px;
   justify-content: space-between;
   gap: 40px;
}

.about-home__content-list {
   display: flex;
   width: 100%;
   align-items: flex-end;
   justify-content: space-between;
}

.about-home__content-info {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   gap: 100px;
   width: calc(50% - 20px);
   justify-content: space-between;
}

.about-home__content-list svg {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
   height: 100%;
}

.about-home__image {
   position: relative;
   z-index: 3;
   width: 100%;
}



.about-home__text {
   display: flex;
   justify-content: space-between;
}

.about-home__text-column {

   display: flex;
   flex-direction: column;
   gap: 10px;
}

.about-home__paragraph {
   color: var(--dark-gray);
}

.about-home__list {
   height: auto;
   z-index: 333;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding-left: 20px;
   border-left: 1px solid var(--dark-blue);
}

.about-home__list-item a {
   color: var(--medium-gray);

   font-size: 18px;

   line-height: 21.78px;
}

.about-home__list-item:hover a {
   color: var(--dark-blue);
   text-decoration: underline;
}


@media (max-width: 1280px) {
   .about-home__box-title {
      flex-direction: column;
      gap: 20px;
      padding: 120px 20px;
   }

   .about-home__box-title-description {
      font-size: 38px;
      line-height: 45.6px;
   }

   .about-home__box-content {
      padding: 60px 20px 120px 20px;
      gap: 20px;
   }

   .about-home__content-info {
      width: 100%;
   }

   .about-home__content-list svg {
      height: 657px;
      width: 757px;
   }
}



@media (max-width: 768px) {


   .about-home__box-title-heading {
      margin-top: 0;
      font-size: 16px;
      line-height: 16.64px;
   }

   .about-home__box-title-description {
      font-size: 26px;
      line-height: 31.2px;
   }

   .about-home__box-content {
      padding: 90px 10px;
   }

   .about-home__text {
      gap: 10px;
   }

   .about-home__content-list {
      gap: 30px;
      flex-direction: column-reverse;
   }

   .about-home__content-list svg {
      display: none;
   }

   .about-home__list-item a {
      font-size: 16px;
      line-height: 16.64px;
   }

   .about-home__list {
      gap: 15px;
      border-left: 2px solid var(--dark-blue);
   }
}