.custom-slider .buttons {
   display: flex;
   gap: 20px;
   max-width: 120px;
}

.custom-slider {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.custom-slider .buttons button {
   width: 50px;
   height: 50px;
}

.custom-slider .box-slider {
   position: relative;
   height: 410px;
   overflow: hidden;
}

.custom-slider .buttons button:last-child {
   transform: rotate(180deg);
}

.container-custom-slider {
   position: absolute;
   top: 0px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 40px;
}

.custom-slide {
   width: 410px;
   height: 410px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--back-gray-light);
}