.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 40px;
}
.card__content {
	display: flex;
	flex-direction: column;
}
.card__details {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 80px;
	margin-bottom: 20px;
}
.card__title {
	font-size: 57px;
	line-height: 100%;
	color: var(--black);
	margin-bottom: 50px;
}
.card__detail {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.card__detail-label {
	font-size: 16px;
	line-height: 100%;
	color: rgb(var(--gray-text));
}
.card__detail-value {
	font-size: 30px;
	font-weight: var(--font-w5);
	line-height: 100%;
	color: var(--dark);
}
.card__image-container {
	height: 700px;
}
.card__image-container .card__image {
	object-fit: cover;
	height: 100%;
}
.card__title__mobile {
	display: none;
}
.card__characteristics {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 80px;
	margin-bottom: auto;
}
.card__tabs {
	display: flex;
}
.card__characteristics-title {
	cursor: pointer;
	font-size: 18px;
	line-height: 100%;
	border-bottom: 2px solid;
	border-color: rgb(var(--line));
	color: rgb(var(--gray-text));
	padding-inline: 5px;
	text-align: center;
	padding-bottom: 10px;
}
.card__characteristics-title.active {
	border-color: var(--dark-blue);
	color: var(--dark-blue);
}
.tab-pane--characteristics {
	flex-direction: column;
	gap: 20px;
}
.card__characteristic {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.card__characteristic-label,
.card__characteristic-value {
	font-size: 16px;
	line-height: 100%;
}
.card__characteristic-label {
	color: rgb(var(--light-text));
}
.card__characteristic-value {
	color: rgb(var(--gray-text));
}
.tab-pane--characteristics,
.inventory-card__button {
	max-width: 410px;
}
.tab-pane--description {
	font-size: 18px;
	line-height: 140%;
	color: rgb(var(--gray-text));
}
@media (max-width: 1100px) {
	.card {
		grid-template-columns: 1fr;
	}
	.card__image-container {
		height: 530px;
	}
	.card__title__mobile {
		font-size: 38px;
		line-height: 120%;
		display: block;
		font-weight: var(--font-w5);
		color: var(--black);
		margin-bottom: 20px;
	}
	.card__title {
		display: none;
	}
	.card__content {
		margin-top: 80px;
	}
	.card__details {
		column-gap: 30px;
	}
	.card__detail-label {
		line-height: 130%;
	}
	.card__characteristics {
		margin-bottom: 40px;
		gap: 40px;
	}
	.card__characteristics-title {
		font-size: 16px;
		line-height: 120%;
		font-weight: var(--font-w5);
		padding-inline: 20px;
	}
	.card__characteristic-value,
	.card__characteristic-label {
		line-height: 130%;
	}
	.tab-pane--characteristics {
		gap: 15px;
	}
	.tab-pane--characteristics,
	.inventory-card__button {
		max-width: 450px;
	}
	.tab-pane--description {
		font-size: 16px;
		line-height: 130%;
	}
}
@media (max-width: 430px) {
	.card__image-container {
		height: 260px;
	}
	.card__title__mobile {
		font-size: 24px;
		line-height: 110%;
	}
	.card__details {
		column-gap: 20px;
		row-gap: 30px;
	}
	.card__detail {
		gap: 5px;
	}
	.card__detail-label {
		font-size: 14px;
	}
	.card__detail-value {
		font-size: 22px;
		line-height: 130%;
	}
	.card__characteristics {
		margin-bottom: 20px;
		gap: 30px;
	}
	.card__characteristics-title {
		font-size: 14px;
		width: 50%;
		line-height: 130%;
	}
	.tab-pane--description {
		font-size: 14px;
	}
}
