.breadcrumbs {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   margin-bottom: 45px;
}

.breadcrumbs li .breadcrumbs__arrow {
   margin: 0 15px;
   width: 7px;
   height: 11px;
}

.breadcrumbs li p,
.breadcrumbs li a {
   display: inline;
   cursor: pointer;
   font-size: 16px;
   line-height: 19.36px;
   color: rgba(151, 151, 151, 1);
}

.breadcrumbs li p:hover,
.breadcrumbs li a:hover {
   color: rgba(81, 81, 81, 1);
}

@media (max-width:1280px) {

   .breadcrumbs li p,
   .breadcrumbs li a {
      font-size: 14px;
      line-height: 16.94px;
   }

   .breadcrumbs {
      margin-bottom: 20px 0 35px 0;
   }
}

@media (max-width:340px) {

   .breadcrumbs li p,
   .breadcrumbs li a {
      font-size: 12px;
      line-height: 14.52px;
   }

   .breadcrumbs li .breadcrumbs__arrow {
      margin: 0 10px;
   }

   .breadcrumbs {
      margin-bottom: 30px;
   }
}