body {
   max-width: 1920px;
   margin: 0 auto;
}

body::-webkit-scrollbar {
   width: 0;
}

.container {
   width: 100%;
   padding: 0 80px;
}

.pointer {
   cursor: pointer;
}

.mt-160px {
   margin-top: 160px;
}

.title-page-h3 {
   font-family: var(--font-inter);
   font-size: 70px;
   font-weight: 400;
   line-height: 72.86px;
   color: var(--text-blue);
}

p {
   font-family: var(--font-inter);
   font-size: 18px;
   font-weight: 400;
   line-height: 25.2px;
   color: rgba(81, 81, 81, 1);
}

.app {
   position: relative;
   overflow: hidden;
}

.blurred .contentpop {
   filter: blur(5px);
   pointer-events: none;
   /* Блокировка взаимодействия с контентом */
}


.sidebar,
.sidebar-ask {
   position: fixed;
   top: 0;
   right: -640px;
   transition: right 0.3s ease-in-out;
}

.sidebar.open,
.sidebar-ask.open {
   right: 0;
}

.contentpop {
   padding-top: 1px;
   transition: filter 0.3s ease-in-out;
}


.button-visible .hover,
.button-visible:hover .no-hover {
   display: none;
}

.button-visible:hover .hover {
   display: block;
}

@media(max-width:768px) {
   body {
      max-width: 768px;
   }

   .container {
      width: 100%;
      padding: 0 20px;
   }

   .mt-160px {
      margin-top: 120px;
   }

   .title-page-h3 {
      font-size: 40px;
      line-height: 41.6px;
   }

   p {
      font-size: 16px;
      line-height: 22.4px;
   }
}