/*--------------error-input--------------*/

.submitted-error input:invalid+label {
   color: rgba(255, 138, 138, 1) !important;
}

.submitted-error input:invalid {
   border-color: rgba(255, 138, 138, 1) !important;
}

.form-group input:not(:placeholder-shown)+label {
   opacity: 0;
   transition: all 0.2s linear;
}

/*--------------error-input--------------*/
.form-group {
   position: relative;
   height: 46px;
   display: flex;
}

form .form-items-100 {
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 100%;
   margin: 15px 0;
}

form .form-items-50 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 40px;
   grid-row-gap: 30px;
   margin: 20px 0;
}


/* background-color form */
form .form-blue {
   background: rgba(0, 69, 178, 1);
}

/* text-border */
.form-group input {
   padding: 0 0 7px 0;
   position: absolute;
   bottom: 0;
   border: 0;
   background: none;
   outline: 0 !important;
   font-family: Inter Tight;
   font-size: 16px;
   font-weight: 500;
   line-height: 19.36px;
   width: 100%;
   color: rgba(255, 255, 255, 1);
   border-bottom: 1px solid rgba(178, 199, 232, 1);
   transition: all 0.2s linear;
}

/* text-border hover */
.form-group:hover input {
   transition: all 0.2s linear;
   border-bottom: 1px solid rgba(255, 255, 255, 1);
}

/* placeholder*/
.form-group label {
   display: block;
   opacity: 1;
   position: absolute;
   top: 15px;
   left: 0;
   font-family: Inter Tight;
   font-size: 16px;
   font-weight: 400;
   line-height: 19.36px;
   color: rgba(178, 199, 232, 1);
   transition: all 0.2s linear;
}

/*hover placeholder*/
.form-group:hover label {

   color: rgba(255, 255, 255, 1);
}

/* placeholder focus */
.form-group input:focus~label {
   font-size: 12px;
   top: 0px;
   line-height: 14.56px;
   color: rgba(178, 199, 232, 1);
   transition: all 0.2s linear;
}

/* text-border focus  */
.form-group input:focus {
   color: rgba(255, 255, 255, 1);
   border-bottom: 1px solid rgba(255, 255, 255, 1);
}


/* form  color*/
/* form  color*/
/* form  color*/


/* background-colorwhite-white form */
form .form-white {
   background: rgb(255, 255, 255);
}

/* background-color-gray form */
form .form-gray {
   background: rgba(242, 242, 242, 1);

}

/*  text-border  */
.form-white .form-group input,
.form-gray .form-group input {
   color: rgba(151, 151, 151, 1);
   border-bottom: 1px solid rgba(151, 151, 151, 1);
}

/* text-border hover */
.form-white .form-group:hover input,
.form-gray .form-group:hover input,
/* text-border focus  */
.form-white .form-group input:focus,
.form-gray .form-group input:focus {
   color: rgba(0, 69, 178, 1);
   border-bottom: 1px solid rgba(0, 69, 178, 1);
}

/* placeholder*/
.form-white .form-group label,
.form-gray .form-group label {
   color: rgba(151, 151, 151, 1);
}

/* hover placeholder*/
.form-white .form-group:hover label,
.form-gray .form-group:hover label,
/* placeholder focus */
.form-white .form-group input:focus~label,
.form-gray .form-group input:focus~label {
   color: rgba(0, 69, 178, 1);
}


/* form  color*/
/* form  color*/
/* form  color*/










/* custom-checkbox */

.custom-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
   cursor: pointer;
   user-select: none;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   display: flex;
   align-items: flex-end;
}

/* создание в label псевдоэлемента before со следующими стилями */
/* no hover no checked no disabled */
.custom-checkbox+label::before,
.custom-checkbox-error+label::before {
   content: '';
   box-sizing: border-box;
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 6px;
   border-radius: 4px;
   background-repeat: no-repeat;
   background-position: center;
   color: white;
   border: 1px solid rgba(151, 151, 151, 1);
   background-color: white;
   transition: all 0.2s linear;
}

.checkbox label {
   font-family: Inter Tight;
   font-size: 14px;
   font-weight: 400;
   line-height: 14.56px;
   text-align: left;
   color: rgba(178, 199, 232, 1);
}

/* hover no checked no disabled */
.custom-checkbox:hover+label::before {
   border: 1px solid rgba(81, 81, 81, 1);
}

/* no-hover no checked disabled */
.custom-checkbox:disabled+label::before {
   border: 1px solid rgba(203, 203, 203, 1)
}

/* no-hover checked no-disabled */
.custom-checkbox:checked+label::before {
   border: 0;
   background-color: rgba(82, 128, 203, 1);
   background-image: url("/src/assets/images/svg/checkbox/ok-white.svg");
}

/* hover checked no-disabled */
.custom-checkbox:checked:hover+label::before {
   border: 0;
   background-color: rgba(0, 69, 178, 1);
   background-image: url("/src/assets/images/svg/checkbox/ok-white.svg");
}

/* no-hover checked disabled */
.custom-checkbox:checked:disabled+label::before {
   border: 0;
   background-color: rgba(242, 242, 242, 1);
   background-image: url("/src/assets/images/svg/checkbox/ok-gray.svg");
}

/* error no checked  */
.custom-checkbox-error+label::before {
   border: 1px solid rgba(255, 138, 138, 1) !important
}

/* error  checked */
.custom-checkbox-error:checked+label::before,
.custom-checkbox-error:checked:hover+label::before {
   border: 1px solid rgba(255, 138, 138, 1) !important;
   background-color: rgba(178, 199, 232, 1) !important;
}




.checkbox label,
.checkbox input:checked:disabled+label {
   color: rgba(151, 151, 151, 1);
   transition: all 0.2s linear;
}

.checkbox label:hover,
.checkbox input:checked+label {
   color: rgba(81, 81, 81, 1);
   transition: all 0.2s linear;
}

.checkbox input:disabled+label {
   color: rgba(203, 203, 203, 1);
   transition: all 0.2s linear;
}

/* custom-checkbox */

@media(max-width:1280px) {
   form .form-items-50 {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media(max-width:360px) {
   .form-group label {
      font-size: 14px;
      line-height: 16.94px;
   }

   form .form-items-50 {
      grid-row-gap: 20px;
   }

   .checkbox label,
   .checkbox input:checked+label {
      color: #B2C7E8;
   }

   .checkbox label:hover {
      color: #B2C7E8;
   }
}