/* Общие стили формы */
.form-group {
   position: relative;
   /*margin-bottom: 1.5em;*/
   height: 46px;
   display: flex;
}

.form-items-100 {
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 100%;
   margin: 15px 0;
}

.form-items-50 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 40px;
   grid-row-gap: 30px;
   margin: 20px 0;
}

.form-group input {
   width: 100%;
   padding: 0px 10px 12px 0;
   box-sizing: border-box;
   border: none;
   border-bottom: 1px solid var(--gray);
   background: transparent;
   color: var(--gray);
   font-size: 16px;
   line-height: 24px;
   transition: all 0.3s ease;
   position: absolute;
   bottom: 0;
   outline: 0 !important;
}

.form-group input:focus {
   border-bottom-color: var(--dark-blue);
   outline: none;
}

.form-group input:focus+label {
   top: 14px;
   color: var(--dark-blue);
}

.form-group input:not(:placeholder-shown)+label {
   color: var(--dark-blue);
   opacity: 0;

}

.form-group label {
   position: absolute;
   top: 10px;
   left: 0;
   font-size: 16px;
   color: var(--gray);
   pointer-events: none;
   transition: all 0.3s ease;
}

.form-group input:placeholder-shown+label {
   top: 14px;
}

/* Стили для состояния ошибки */
.submitted-error input:invalid+label {
   color: var(--light-red) !important;
}

.submitted-error input:invalid {
   border-color: var(--light-red) !important;
}

/* Стили чекбокса */
.custom-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

.custom-checkbox+label::before,
.custom-checkbox-error+label::before {
   content: '';
   box-sizing: border-box;
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 6px;
   border-radius: 4px;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.2s linear;
}

.checkbox label {
   cursor: pointer;
   display: flex;
   user-select: none;
   align-items: center;
   font-size: 14px;
   font-weight: var(--font-w5);
   line-height: 14.56px;
   text-align: left;
   transition: all 0.2s linear;
}

.custom-checkbox:checked+label::before {
   background-image: url("/src/assets/images/svg/checkbox/ok-white.svg");
}

.custom-checkbox:checked:disabled+label::before {
   background-image: url("/src/assets/images/svg/checkbox/ok-gray.svg");
}

.checkbox--blue label {
   color: var(--sky-blue);
}

@media (hover: hover) {

   .checkbox--blue label:hover {
      color: var(--white);
   }
}

.checkbox--blue label:active {
   color: var(--white);
}

.checkbox--blue label::before {
   border: 1px solid var(--sky-blue);
}

.checkbox--blue:hover label::before {
   border: 1px solid var(--white);
}

.checkbox--blue input:checked+label::before {
   border: 1px solid transparent;
   background-color: var(--blue);
}

.checkbox--white label {
   color: var(--gray);
}

@media (hover: hover) {
   .checkbox--white label:hover {
      color: var(--medium-gray);
   }
}

.checkbox--white label:active {
   color: var(--medium-gray);
}

.checkbox--white label::before {
   border: 1px solid var(--gray);
}

@media (hover: hover) {
   .checkbox--white:hover label::before {
      border: 1px solid var(--medium-gray);
   }
}

.checkbox--white:active label::before {
   border: 1px solid var(--medium-gray);
}

.checkbox--white input:checked+label::before {
   border: 1px solid transparent;
   background-color: var(--blue);
}

@media (hover: hover) {
   .checkbox--white:hover input:checked+label::before {
      border: 1px solid transparent;
      background-color: var(--dark-blue);
   }
}

.checkbox--white:active input:checked+label::before {
   border: 1px solid transparent;
   background-color: var(--dark-blue);
}

.submitted-error .checkbox label::before {
   border: 1px solid var(--light-red);
}

.submitted-error .checkbox input:checked+label::before {
   border: 1px solid var(--transparent);
}

.checkbox .custom-checkbox:disabled+label {
   color: var(--silver);
}

.checkbox .custom-checkbox:disabled+label::before {
   border: 1px solid var(--silver);
}

.checkbox .custom-checkbox:disabled:checked+label::before {
   border: 1px solid var(--silver);
   background-color: var(--silver);
}

/* Стили для autofill */
.form-group input:-webkit-autofill {
   caret-color: var(--gray);
   -webkit-box-shadow: 0 0 0 1000px var(--light-gray) inset;
   box-shadow: 0 0 0 1000px var(--light-gray) inset;
   -webkit-text-fill-color: var(--dark-blue);
   font-size: 16px;
}

/* Стили для фона формы */
.form-blue .form-group input {
   border-bottom: 1px solid var(--sky-blue);
   background: var(--transparent);
   color: var(--sky-blue);
}

@media (hover: hover) {
   .form-blue .form-group input:hover {
      color: var(--white);
      border-bottom: 1px solid var(--white);
   }

   .form-blue .form-group input:hover+label {
      color: var(--white);
   }
}

.form-blue .form-group input:active {
   color: var(--white);
   border-bottom: 1px solid var(--white);
}

.form-blue .form-group input:active+label {
   color: var(--white);
}

.form-blue .form-group label {
   color: var(--sky-blue);

}

form .form-group input:focus+label {
   color: transparent !important;
}

.form-blue input:-webkit-autofill {
   caret-color: var(--white);
   -webkit-box-shadow: 0 0 0 1000px var(--dark-blue) inset;
   box-shadow: 0 0 0 1000px var(--dark-blue) inset;
   -webkit-text-fill-color: var(--white);
   font-size: 16px;
}

.form-white {
   background: var(--white);
}

.form-white .form-group input {
   color: var(--gray);
   border-bottom: 1px solid var(--gray);
}

.form-white .form-group:hover input {
   border-bottom: 1px solid var(--dark-blue);
}

.form-white .form-group input:focus {
   color: var(--dark-blue);
   border-bottom: 1px solid var(--dark-blue);
}

.form-white .form-group label {
   color: var(--gray);
}

.form-white .form-group:hover label {
   color: var(--dark-blue);
}

.form-white .form-group input:focus+label {
   color: var(--dark-blue);
}

.form-white .form-group input:-webkit-autofill {
   caret-color: var(--black);
   -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
   box-shadow: 0 0 0 1000px var(--white) inset;
   -webkit-text-fill-color: var(--dark-blue);
   font-size: 16px;
}

.form-gray {
   background: var(--light-gray);
}

.form-gray .form-group input {
   color: var(--gray);
   border-bottom: 1px solid var(--gray);
}

.form-gray .form-group:hover input {
   border-bottom: 1px solid var(--dark-blue);
}

.form-gray .form-group input:focus {
   color: var(--dark-blue);
   border-bottom: 1px solid var(--dark-blue);
}

.form-gray .form-group label {
   color: var(--gray);
}

.form-gray .form-group:hover label {
   color: var(--dark-blue);
}

.form-gray .form-group input:focus+label {
   color: var(--dark-blue);
}

.form-gray .form-group input:-webkit-autofill {
   caret-color: var(--black);
   -webkit-box-shadow: 0 0 0 1000px var(--light-gray) inset;
   box-shadow: 0 0 0 1000px var(--light-gray) inset;
   -webkit-text-fill-color: var(--dark-blue);
   font-size: 16px;
}

/* Адаптивные стили */
@media (max-width: 1280px) {
   .form-items-50 {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 768px) {
   .form-group label {
      font-size: 16px;
      line-height: 16.94px;
   }

   .form-items-50 {
      grid-row-gap: 20px;
   }

   .checkbox label,
   .checkbox input:checked+label {
      font-size: 16px;
      line-height: 15.12px;
   }
}