/*--------------error-input--------------*/

.submitted-error input:invalid+label {
   color: var(--light-red) !important;
}

.submitted-error input:invalid {
   border-color: var(--light-red) !important;
}

.form-group input:not(:placeholder-shown)+label {
   opacity: 0;
   transition: all 0.2s linear;
}

/*--------------error-input--------------*/
.form-group {
   position: relative;
   height: 46px;
   display: flex;
}

form .form-items-100 {
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 100%;
   margin: 15px 0;
}

form .form-items-50 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 40px;
   grid-row-gap: 30px;
   margin: 20px 0;
}


/* background-color form */
form .form-blue {
   background: var(--dark-blue);
}

form .form-blue input:-webkit-autofill {
   caret-color: var(--white);
   /* Устанавливает цвет курсора */
   -webkit-box-shadow: 0 0 0 1000px var(--dark-blue) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   box-shadow: 0 0 0 1000px var(--dark-blue) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   -webkit-text-fill-color: var(--sky-blue);
   /* Устанавливает цвет текста внутри заполненного инпута */
}

/* text-border */
.form-group input {
   padding: 0 0 7px 0;
   position: absolute;
   bottom: 0;
   border: 0;
   background: none;
   outline: 0 !important;

   font-size: 16px;
   font-weight: var(--font-w5);
   line-height: 19.36px;
   width: 100%;
   color: var(--white);
   border-bottom: 1px solid var(--sky-blue);
   transition: all 0.2s linear;
}

/* text-border hover */
.form-group:hover input {
   transition: all 0.2s linear;
   border-bottom: 1px solid var(--white);
}

/* placeholder*/
.form-group label {
   display: block;
   opacity: 1;
   position: absolute;
   top: 15px;
   left: 0;

   font-size: 16px;

   line-height: 19.36px;
   color: var(--sky-blue);
   transition: all 0.2s linear;
}

/*hover placeholder*/
.form-group:hover label {
   color: var(--white);
}

/* placeholder focus */
.form-group input:focus~label {
   font-size: 12px;
   top: 0px;
   line-height: 14.56px;
   color: var(--sky-blue);
   transition: all 0.2s linear;
}

/* text-border focus  */
.form-group input:focus {
   color: var(--white);
   border-bottom: 1px solid var(--white);
}


/* form  color*/
/* form  color*/
/* form  color*/


/* background-color-white form */
form .form-white {
   background: var(--white);
}

/* background-color-gray form */
form .form-gray {
   background: var(--light-gray);

}

/*  text-border  */
.form-white .form-group input,
.form-gray .form-group input {
   color: var(--gray);
   border-bottom: 1px solid var(--gray);
}

/* text-border hover */
.form-white .form-group:hover input,
.form-gray .form-group:hover input,
/* text-border focus  */
.form-white .form-group input:focus,
.form-gray .form-group input:focus {
   color: var(--dark-blue);
   border-bottom: 1px solid var(--dark-blue);
}

/* placeholder*/
.form-white .form-group label,
.form-gray .form-group label {
   color: var(--gray);
}

/* hover placeholder*/
.form-white .form-group:hover label,
.form-gray .form-group:hover label,
/* placeholder focus */
.form-white .form-group input:focus~label,
.form-gray .form-group input:focus~label {
   color: var(--dark-blue);
}




.form-white .form-group input:-webkit-autofill {
   caret-color: var(--black);
   /* Устанавливает цвет курсора */
   -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   box-shadow: 0 0 0 1000px var(--white) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   -webkit-text-fill-color: var(--dark-blue);

   /* Устанавливает цвет текста внутри заполненного инпута */
}

.form-gray .form-group input:-webkit-autofill {
   caret-color: var(--black);
   /* Устанавливает цвет курсора */
   -webkit-box-shadow: 0 0 0 1000px var(--light-gray) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   box-shadow: 0 0 0 1000px var(--light-gray) inset;
   /* Устанавливает цвет фона для заполненного инпута */
   -webkit-text-fill-color: var(--dark-blue);
   /* Устанавливает цвет текста внутри заполненного инпута */
}




/* form  color*/
/* form  color*/
/* form  color*/










/* custom-checkbox */

.custom-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
}


.custom-checkbox+label::before,
.custom-checkbox-error+label::before {
   content: '';
   box-sizing: border-box;
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 6px;
   border-radius: 4px;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.2s linear;
}

.checkbox label {
   cursor: pointer;
   display: flex;
   user-select: none;
   align-items: center;
   font-size: 14px;
   font-weight: var(--font-w5);
   line-height: 14.56px;
   text-align: left;
   transition: all 0.2s linear;
}


.custom-checkbox:checked+label::before {
   background-image: url("/src/assets/images/svg/checkbox/ok-white.svg");
}

.custom-checkbox:checked:disabled+label::before {
   background-image: url("/src/assets/images/svg/checkbox/ok-gray.svg");
}


/* ------------------------------------ */


.checkbox--blue label {
   color: rgba(178, 199, 232, 1);
}

.checkbox--blue label:hover {
   color: rgba(255, 255, 255, 1);
}

.checkbox--blue label::before {
   border: 1px solid rgba(178, 199, 232, 1);
}

.checkbox--blue:hover label::before {
   border: 1px solid rgba(255, 255, 255, 1);
}

.checkbox--blue input:checked+label::before {
   border: 1px solid transparent;
   background-color: rgba(82, 128, 203, 1);
}



/* ----------------- */
.checkbox--white label {
   color: rgba(151, 151, 151, 1);
}

.checkbox--white label:hover {
   color: rgba(81, 81, 81, 1);
}

.checkbox--white label::before {
   border: 1px solid rgba(151, 151, 151, 1);
}

.checkbox--white:hover label::before {
   border: 1px solid rgba(81, 81, 81, 1);
}

.checkbox--white input:checked+label::before {
   border: 1px solid transparent;
   background-color: rgba(82, 128, 203, 1);
}

.checkbox--white:hover input:checked+label::before {
   border: 1px solid transparent;
   background-color: rgba(0, 69, 178, 1);

}



/* error no checked  */

.submitted-error .checkbox label::before {
   border: 1px solid var(--light-red);
}

.submitted-error .checkbox input:checked+label::before {
   border: 1px solid var(--transparent);
}

.checkbox .custom-checkbox:disabled+label {
   color: rgba(203, 203, 203, 1);
}

.checkbox .custom-checkbox:disabled+label::before {
   border: 1px solid rgba(203, 203, 203, 1);
}

.checkbox .custom-checkbox:disabled:checked+label::before {
   border: 1px solid rgba(203, 203, 203, 1);
   background-color: rgba(203, 203, 203, 1);
}

/*.checkbox label,*/



/* custom-checkbox */

@media(max-width:1280px) {
   form .form-items-50 {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 768px) {
   .form-group label {
      font-size: 14px;
      line-height: 16.94px;
   }

   form .form-items-50 {
      grid-row-gap: 20px;
   }

   .checkbox label,
   .checkbox input:checked+label {
      /*color: var(--sky-blue);*/
      font-size: 12px;
      line-height: 15.12px;
   }

   .checkbox label:hover {
      /*color: var(--sky-blue);*/
   }
}