:root {
   --transparent: transparent;
   --white: rgba(255, 255, 255, 1);
   --black: rgba(0, 0, 0, 1);
   --dark-blue: rgba(0, 69, 178, 1);
   --blue: rgba(82, 128, 203, 1);
   --light-blue: rgba(128, 162, 216, 1);
   --sky-blue: rgba(178, 199, 232, 1);
   --gray: rgba(151, 151, 151, 1);
   --dark-gray: rgba(30, 30, 30, 1);
   --light-gray: rgba(242, 242, 242, 1);
   --medium-gray: rgba(81, 81, 81, 1);
   --silver: rgba(203, 203, 203, 1);
   --light-red: rgba(255, 138, 138, 1);

   --font-inter: "Inter Tight", sans-serif;
   --font-arial: Arial, sans-serif;
   --font-regular: Regular, sans-serif;

   --font-w4: 400;
   --font-w5: 500;
   --font-w6: 600;

}