.team-slider .team-slider__title {
   text-align: start;
   margin-bottom: 30px;
}

.custom-slider__icon {
   fill: #fff;
   stroke: #0045B2;
   transition: all 200ms ease;
}

.custom-slider__button:hover .custom-slider__icon {
   fill: #0045B2;
   stroke: #fff;
   transition: all 200ms ease;
}

.custom-slider__buttons {
   display: flex;
   gap: 20px;
   max-width: 120px;
}

.custom-slider__button {
   width: 50px;
   height: 50px;
}

.custom-slider__button:last-child {
   transform: rotate(180deg);
}


