.popup-cookie {
   width: 100%;
   left: 0;
   z-index: 999999;
   position: fixed;
   display: flex;
   bottom: -100%;
   padding: 40px 50px;
   background-color: var(--light-gray);
   justify-content: space-between;
   align-items: center;
   transition: bottom 0.5s ease-in-out;
}

.popup-cookie.show {
   bottom: 0;
}

.popup-cookie p {
   max-width: 900px;
   width: 75%;

}

.popup-cookie p a {
   color: var(--dark-blue);
}

.popup-cookie button {
   max-width: 163px;
   max-height: 60px;
}

@media (max-width:1280px) {
   .popup-cookie {
      padding: 40px;
   }

   .popup-cookie p {
      max-width: 504px;
      width: 100%;
   }
}

@media (max-width: 768px) {
   .popup-cookie {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
   }

   .popup-cookie button {
      max-width: 100%;
   }
}