.stages-transaction {
   display: flex;
   justify-content: space-between;
}

.stages-transaction__box {
   width: calc(50% - 20px);
}

.stages-transaction__content {
   display: flex;
   flex-direction: column;
}

.stages-transaction__separator {
   margin: 0;
}

.stages-transaction__button {
   margin-top: 60px;
   width: 330px;
   min-width: 250px;
}

@media (max-width: 1280px) {
   .stages-transaction {
      flex-direction: column;
      gap: 20px;
   }

   .stages-transaction__box {
      width: 100%;
   }

   .stages-transaction__button {
      margin-top: 50px;
      width: 35%;
   }
}

@media (max-width: 1280px) {
   .stages-transaction__button {
      margin-top: 40px;
      width: 100%;
   }

}