.about-clients__slider .slider__buttons {
   display: flex;
   gap: 20px;
   max-width: 120px;
}

.about-clients__slider .slider__button {
   width: 50px;
   height: 50px;
}

.about-clients__slider .slider__button--next {
   transform: rotate(180deg);
}

.about-clients__slider .slider__icon {
   fill: #fff;
   stroke: #0045B2;
   transition: all 200ms ease;
}

.about-clients__slider .slider__button:hover .slider__icon {
   fill: #0045B2;
   stroke: #fff;
   --stroke-width: 0;
   --circle-radius: 25;
   transition: all 200ms ease;
}

.about-clients__slider .slider__box {
   position: relative;
   height: 410px;
   width: 100%;
   overflow: hidden;
}

.about-clients__slider .slider__container {
   position: absolute;
   top: 0px;
   display: flex;
   height: 100%;
}

.about-clients__slider .slider__slide--back {
   display: flex;
   padding: 40px;
   gap: 20px;
   flex-direction: column;

   z-index: 1;
   transform: rotateY(180deg);
   opacity: 0;
}


.about-clients__slider .slider__slide--front {
   z-index: 2;
}

.about-clients__slider .slider__slide--front,
.about-clients__slider .slider__slide--back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: transform 0.6s ease, opacity 0.6s ease;
}


.about-clients__slider .dop-info:hover~.slider__slide--front {
   transform: rotateY(180deg);
   opacity: 0;
}

.about-clients__slider .dop-info:hover~.slider__slide--back {
   transform: rotateY(0);
   opacity: 1;
}

.about-clients__slider .dop-info {
   line-height: 21.78px;
   color: rgba(151, 151, 151, 1);
   text-decoration: underline;
   position: absolute;
   bottom: 20px;
   right: 20px;
   z-index: 99;
   cursor: pointer;
}

.about-clients__slider .slider__slide {
   width: 860px;
   height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
   margin-right: 40px;
   background-color: var(--back-gray-light);
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
}

.about-clients__slider .slider__image {
   width: 100%;
   height: 100%;
   object-fit: none;
}

.about-clients__slider .slider__text {
   font-size: 20px;
   line-height: 32px;
}

.about-clients {
   display: flex;
   flex-direction: column;
}

.about-clients__slider {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: flex-end;
}

.about-clients__header {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 40px;
   grid-row-gap: 0px;
}

.about-clients__header-text {
   grid-area: 1 / 1 / 2 / 2;
}

.about-clients__header-title {
   grid-area: 1 / 2 / 2 / 5;
}

.about-clients__content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 40px;
   margin: 20px 0 100px 0;
}

.about-clients__content div:nth-child(1) {
   grid-area: 1 / 1 / 2 / 2;
}

.about-clients__content div:nth-child(2) {
   grid-area: 1 / 2 / 2 / 3;
}

.about-clients__content div:nth-child(3) {
   grid-area: 1 / 3 / 2 / 5;
   max-width: 553px;
}