/* .no-slider__slide-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
} */

/* .no-slider__slide {
	max-width: 410px;
	aspect-ratio: 1;
} */

/* .program-leasing__slider .slider__buttons {
	position: absolute;
	bottom: 0;
	right: calc(100% + 20px);
} */

/* .program-leasing__slider .slider__slide {
	width: 410px;
	height: 410px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-right: 40px;
	background-color: var(--light-gray);
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
} */

/* .program-leasing__slider .slider__image {
	width: 100%;
	height: 100%;
} */
/* ----------------- */

/* ----------------- */

.simpleSolution {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.simpleSolution__button {
	max-width: 400px;
	width: 100%;
}
.obtaining-leasing__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}
.obtaining-leasing__content--item p {
	font-size: 16px;
	line-height: 100%;
	color: rgb(var(--gray-text));
}
.obtaining-leasing__content--item h4 {
	font-size: 48px;
	font-weight: var(--font-w5);
	margin-bottom: 10px;
	line-height: 100%;
	color: rgb(var(--gray-text));
}
.obtaining-leasing__title {
	margin-bottom: 50px;
}
/* ----------------- */

.program-leasing-page__content {
	display: flex;
	flex-direction: column;
	gap: 70px;
	/* font-size: 70px;
	
  line-height: 84px;
  color: var(--dark-blue); */
}
.program-leasing-page__content-up {
	position: relative;
	height: 480px;
}
.program-leasing-page__content-up--image {
	height: 100%;
}
.program-leasing-page__content-up--text {
	position: absolute;
	bottom: 60px;
	left: 60px;
	max-width: 520px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.program-leasing-page__content-up--text h3 {
	color: var(--black);
	font-size: 48px;
	font-weight: var(--font-w4);
	line-height: 110%;
}
.program-leasing-page__content-up--text p {
	font-size: 30px;
	line-height: 140%;
	font-weight: var(--font-w4);
	color: var(--black);
}
.program-leasing-page__content-up--image img {
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.program-leasing-page__content--down {
	max-width: 75%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.program-leasing-page__content--down p {
	font-weight: var(--font-w4);
	font-size: 18px;
	line-height: 140%;
	color: rgb(var(--gray-text));
}
.program-leasing-page__navigation {
	position: relative;
}
.program-leasing-page__navigation ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-left: 20px;
	border-left: 2px solid var(--dark-blue);
}
.program-leasing-page__navigation ul li a {
	text-wrap: nowrap;
}
.program-leasing-page__navigation ul li a:hover {
	color: var(--dark-blue);
}
.program-leasing-page__navigation ul li .program__navigation--active {
	text-decoration: underline;
	color: var(--dark-blue);
}
.program-leasing-page__navigation h3 {
	font-size: 30px;
	margin-bottom: 43px;
	line-height: 31.22px;
	color: var(--dark-blue);
}
.program-leasing__title {
	font-weight: var(--font-w4);
	font-size: 40px;
	line-height: 120%;
	color: var(--black);
}
.program-leasing-calculator {
	display: flex;
	justify-content: space-between;
}
.program-leasing-calculator-title {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.program-leasing-calculator-title p {
	font-weight: var(--font-w4);
	font-size: 18px;
	color: rgb(var(--gray-text));
	line-height: 100%;
}

@media (max-width: 1280px) {
	.program-leasing-calculator {
		flex-direction: column;
	}
	.program-leasing-page__navigation ul li .program__navigation--active {
		color: var(--medium-gray);
	}
	.program-leasing-page__navigation {
		height: 110px;
	}
	.program-leasing-page__navigation .mobile__select {
		top: 55px;
	}
	.requirements .requirements__title {
		margin-bottom: 10px;
	}
	.production__select {
		max-width: 100% !important;
	}
	.program-leasing-page__content-up--text {
		bottom: 40px;
		left: 40px;
		gap: 13px;
	}
	.program-leasing-page__content-up--text h3 {
		font-size: 31px;
	}
	.program-leasing-page__content-up--text p {
		font-size: 20px;
	}
	.program-leasing-page__content {
		gap: 20px;
	}
	.program-leasing-page__content-up {
		height: 310px;
	}
	.program-leasing-page__content--down p {
		font-size: 16px;
		line-height: 130%;
	}
	.program-leasing__title {
		font-size: 38px;
	}
	.program-leasing-calculator-title p {
		font-size: 16px;
		line-height: 130%;
	}
	.program-leasing-calculator-title {
		gap: 20px;
	}
	.simpleSolution {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 60px;
	}

	/* .program-leasing__slider .slider__slide {
				width: 300px;
				margin-right: 20px;
			} */

	/* .program-leasing__slider .slider__buttons {
			transform: translate(0px, calc(100% + 20px));
			right: 0;
		} */
}

@media (max-width: 768px) {
	.program-leasing-calculator-title {
		gap: 10px;
	}
	.program-leasing-page__content h3 {
		font-size: 30px;
		line-height: 36px;
		margin: 30px 0 20px 0;
	}
	.production__module-window-img {
		display: none;
	}
	.obtaining-leasing {
		margin: 40px 0 60px 0;
	}
	.obtaining-leasing .p20px,
	.requirements__title .p20px {
		font-size: 20px !important;
		line-height: 24.2px !important;
	}
	.obtaining-leasing__content {
		gap: 40px;
	}
	.obtaining-leasing__content--item h4 {
		font-size: 30px;
		line-height: 36.3px;
		margin-bottom: 5px;
	}
	.obtaining-leasing__content--item p {
		font-size: 14px;
		line-height: 14px;
	}

	.program-leasing__title {
		font-size: 24px;
		line-height: 110%;
	}
	.program-leasing-calculator-title p {
		font-size: 14px;
	}

	.simpleSolution {
		margin-bottom: 30px;
	}
	.simpleSolution__button {
		max-width: 100%;
	}
	/* .no-slider__slide-box {
		gap: 10px;
	} */

	/* .program-leasing__slider .slider__slide {
		height: 230px;
	} */
	/* .program-leasing__slider {
		margin-bottom: 130px;
	} */
}
