header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   transition: top 0.3s;
   display: flex;
   justify-content: center;
   z-index: 9999;
}

.header {
   max-width: 1920px;
   background-color: #fff;
   padding-top: 30px;
   padding-bottom: 80px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.mt-21 {
   margin-top: 21px;
}

.header p,
.header a {
   cursor: pointer;
   font-family: var(--font-inter);
   font-size: 16px;
   font-weight: 400;
   line-height: 16.64px;
   color: var(--text-gray-dark);
}

.burger-button {
   display: flex;
   align-content: space-between;
   flex-wrap: wrap;
   width: 45px;
   height: 12px;
}

.burger-button div {
   height: 2px;
   background-color: var(--text-gray-dark);
   opacity: .8;
}

.burger-button div:first-child {
   width: 45px;
}

.burger-button div:last-child {
   width: 28px;
}

.logo {
   max-width: 151px;
   max-height: 106px;
   min-width: 151px;
   min-height: 106px;
}


.leasing,
.nav {
   display: flex;
   gap: 40px;
}

.rt0 {
   transform: rotate(0deg);
}

.rt180 {
   transform: rotate(180deg);
}

.contacts-header {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 20px;
}

.contacts-header button a,
.contacts-header button p {
   font-family: var(--font-inter);
   font-size: 16px;
   font-weight: 400;
   line-height: 16.64px;
   color: var(--text-blue);
}

.contacts-header button a:hover,
.contacts-header button p:hover {
   text-decoration: underline;
}


/*------select-custom------*/

.select {
   display: block;
   position: relative;
}


.select-program {
   max-width: 171px;
}

.select-leasing,
.select-clients {
   max-width: 96px;
}

.active .select-head .hover {
   display: inline;
}

.active .select-head .default,
.select-head .hover {
   display: none;
}

.select-head {
   display: flex;
   align-items: center;
   font-family: var(--font-inter);
   font-size: 14px;
   font-size: 16px;
   font-weight: 500;
   gap: 10px;
   width: 100%;
}

.select-head:hover p {
   color: rgba(0, 69, 178, 1) !important;
   text-decoration: underline;
}

.active .select-head p {
   color: rgba(0, 69, 178, 1) !important;
   text-decoration: underline;
}

.select-list {
   background: #fff;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: 20px 0 0 0;
   padding: 0;
}

.select-list .select-item {
   color: rgba(81, 81, 81, 1);
   cursor: pointer;
   font-family: var(--font-inter);
   font-size: 16px;
   list-style-type: none;
   font-weight: 400;
   line-height: 16.64px;
   text-align: left;
   position: relative;
   text-wrap: nowrap;
}

.select-list .select-item:hover {
   color: rgba(0, 69, 178, 1);
   text-decoration: underline;
}



/*------select-custom------*/



/* burger-menu */
.burger-menu {

   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 69, 178, 1);
   padding: 225px 120px 45px 120px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
}

body .js-flex {
   display: flex;
}

.burger-menu ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.burger-menu .burger-menu-box {
   display: flex;
   justify-content: space-between;
}



.burger-menu ul li a {
   font-family: Inter Tight;
   font-size: 16px;
   font-weight: 400;
   line-height: 19.2px;
   color: rgba(178, 199, 232, 1);
}

.burger-menu-box .burger-tel {
   font-family: Inter Tight;
   font-size: 40px;
   font-weight: 500;
   line-height: 41.6px;
   color: rgba(255, 255, 255, 1);
}

.burger-menu-network {
   display: flex;
   gap: 10px;
}

.burger-menu-network a .hover,
.burger-menu-network a:hover .no-hover {
   display: none;
}

.burger-menu-network a:hover .hover {
   display: block;
}

.burger-menu-network a:hover {
   background-color: #fff;
}

.burger-menu-network a {
   display: flex;
   align-items: center;
   cursor: pointer;
   justify-content: center;
   width: 42px;
   height: 42px;
   border: 1px solid #fffF;
   box-sizing: border-box;
}

.item-title {
   font-family: Inter Tight;
   font-size: 18px;
   font-weight: 600;
   line-height: 18px;
   color: rgba(255, 255, 255, 1);
}

.item-box {
   position: relative;
   /* Нужно для позиционирования псевдоэлемента */
}

.item-box .item-content {
   text-decoration: none;
   position: relative;
   /* Нужно для позиционирования псевдоэлемента */
}

.item-box .item-content::after {
   content: '';
   position: absolute;
   width: 0;
   height: 1px;
   /* Толщина подчеркивания */
   bottom: 0;
   left: 0;
   background-color: #fff;
   /* Цвет подчеркивания */
   transition: width 1s;
}

.item-box .item-content:hover::after {
   width: 100%;
   /* Подчеркивание растягивается до полной ширины */
}

.burger-menu .button-closed {
   top: 52px;
   position: absolute;
   left: 43px;
}



@media(max-width:768px) {

   .leasing,
   .nav {
      display: none;
   }

   .burger-button {
      order: 1;
   }

   .logo {
      order: 2;
      max-width: 115px;
      min-width: 115px;
      max-height: 81px;
      min-height: 81px;
   }

   .contacts-header {
      order: 3;
   }

   .header {
      max-width: 768px;
      padding-bottom: 50px;
   }

.mt-21 {
   margin-top: 0px;
}
}