header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   transition: top 0.3s;
   display: flex;
   justify-content: center;
   z-index: 9999;
}

.header {

   max-width: 1920px;
   background-color: #fff;
   padding: 30px 80px 60px 80px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

}

.mt-21 {
   margin-top: 21px;
}

.header p,
.header a {
   cursor: pointer;
   font-family: var(--font-inter);
   font-size: 16px;
   font-weight: 400;
   line-height: 16.64px;
   color: var(--text-gray-dark);
}

.burger-button {
   display: flex;
   align-content: space-between;
   flex-wrap: wrap;
   width: 45px;
   height: 12px;
}

.burger-button div {

   height: 2px;
   background-color: var(--text-gray-dark);
   opacity: .8;

}

.burger-button div:first-child {
   width: 45px;
}

.burger-button div:last-child {
   width: 28px;

}


.leasing,
.nav {
   display: flex;
   gap: 40px;
}

.rt0 {
   transform: rotate(0deg);
}

.rt180 {
   transform: rotate(180deg);
}

.contacts {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 20px;
}

.contacts a {
   font-family: var(--font-inter);
   font-size: 16px;
   font-weight: 400;
   line-height: 16.64px;
   color: var(--text-blue);
}

.contacts a:hover {
   text-decoration: underline;
}


/*------select-custom------*/

.select {
   display: block;
   position: relative;
}


.select-program {
   max-width: 171px;
}

.select-leasing,
.select-clients {
   max-width: 96px;
}

.active .select-head .hover {
   display: inline;
}

.active .select-head .default,
.select-head .hover {
   display: none;
}

.select-head {
   display: flex;
   align-items: center;
   font-family: var(--font-inter);
   font-size: 14px;
   font-size: 16px;
   font-weight: 500;
   gap: 10px;
   width: 100%;
}

.select-head:hover p {
   color: rgba(0, 69, 178, 1) !important;
   text-decoration: underline;
}

.active .select-head p {
   color: rgba(0, 69, 178, 1) !important;
   text-decoration: underline;
}

.select-list {
   background: #fff;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: 20px 0 0 0;
   padding: 0;
}

.select-list .select-item {
   color: rgba(81, 81, 81, 1);
   cursor: pointer;
   font-family: var(--font-inter);
   font-size: 16px;
   list-style-type: none;
   font-weight: 400;
   line-height: 16.64px;
   text-align: left;
   position: relative;
   text-wrap: nowrap;
}


.select-list .select-item:hover {
   color: rgba(0, 69, 178, 1);
   text-decoration: underline;
}



/*------select-custom------*/