.clients-partners-program__navigation ul {
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding-left: 20px;
   border-left: 2px solid rgba(0, 69, 178, 1)
}

.clients-partners-program__navigation ul li a {
   text-wrap: nowrap;
}

.clients-partners-program__navigation ul li a:hover {
   color: rgba(0, 69, 178, 1);
}

.clients-partners-program__navigation ul li .program__navigation--active {
   text-decoration: underline;
   color: rgba(0, 69, 178, 1);
}

.clients-partners-program__navigation h3 {
   font-size: 30px;
   margin-bottom: 43px;
   line-height: 31.22px;
   color: rgba(0, 69, 178, 1);
}
.clients-partners-program__content{
position: relative;
}
@media (max-width:1280px) {
   .clients-partners-program__navigation ul {
      padding-left: 0;
      flex-direction: row;
      border-left: 0;
      gap: 0;
      margin-bottom: 40px;
   }

   .clients-partners-program__navigation ul li:not(:first-child)::before {
      content: "/";
      margin: 0 5px;
   }
}