.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 25% 45% 15%;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	padding-block: 70px 50px;
	background: linear-gradient(
		251.36deg,
		#70edf2 -17.96%,
		rgba(60, 172, 231, 0.98) 1.22%,
		rgba(0, 99, 219, 0.89) 30.76%,
		#122b8f 61.54%,
		#051f42 131.85%
	);
	min-height: 685px;
}

.footer__logo {
	grid-area: 1 / 1 / 2 / 2;
}

.footer__logo svg {
	width: 85px;
	height: 56px;
}

.footer__info {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
}

.footer__info-contacts__network li {
	width: 35px;
	height: 35px;
}

.footer__info-contacts__network {
	display: flex;
	gap: 10px;
	margin-top: 30px;
}

.footer__info-list h4 {
	font-weight: var(--font-w6);
	font-size: 18px;
	line-height: 104%;
	color: var(--white);
	opacity: 0.4;
}

.footer__info-list {
	display: flex;
	gap: 22px;
	flex-direction: column;
}

.footer__info-list ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer__info-list ul * {
	font-weight: var(--font-w4);
	font-size: 16px;
	line-height: 120%;
	color: var(--white);
}

.footer__form {
	grid-area: 1 / 2 / 3 / 3;
}

.footer__form button {
	width: calc(50% - 20px);
}

.footer__form h4 {
	font-weight: var(--font-w4);
	font-size: 40px;
	line-height: 108%;
	color: var(--white);
	margin-bottom: 70px;
}

.footer__down {
	grid-area: 3 / 1 / 4 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	align-items: end;
}

.footer__down-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
}

.footer__down p {
	font-weight: var(--font-w4);
	font-size: 16px;
	line-height: 120%;
	color: var(--white);
	opacity: 0.3;
}

.footer__down-credits {
	margin-left: auto;
	display: flex;
	gap: 5px;
}

.footer__down a {
	font-weight: var(--font-w4);
	font-size: 16px;
	line-height: 120%;
	color: var(--white);
	opacity: 1;
}

@media (max-width: 1280px) {
	.footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 80px;
		padding-block: 40px;
	}

	.footer__logo,
	.footer__form,
	.footer__info,
	.footer__down {
		grid-area: auto;
	}

	.footer__down-info {
		grid-area: 1 / 2 / 2 / 3;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}

	.footer__down-credits {
		margin-left: 0;
		margin-bottom: auto;
		grid-area: 1 / 1 / 2 / 2;
	}

	.footer__logo svg {
		width: 93px;
		height: 61px;
	}

	.footer__info-list {
		gap: 20px;
	}

	.footer__info-contacts__network {
		gap: 15px;
		margin-top: 40px;
	}
	.footer__info-contacts__network li {
		width: 45px;
		height: 45px;
	}
	.footer__info-list h4 {
		font-weight: var(--font-w5);
		line-height: 130%;
	}
}

@media (max-width: 768px) {
	.footer__form .button {
		width: 100%;
	}

	.footer {
		gap: 50px;
		padding-block: 30px;
	}

	.footer__logo svg {
		width: 61px;
		height: 40px;
	}

	.footer__down {
		grid-template-columns: 1fr;
		gap: 15px;
	}

	.footer__down-info,
	.footer__down-credits {
		grid-area: auto;
	}

	.footer__down-info {
		gap: 5px;
	}

	.footer__info-list h4 {
		font-size: 16px;
	}

	.footer__info-list ul * {
		font-size: 14px;
	}

	.footer__info-list {
		gap: 15px;
	}

	.footer__info-contacts__network {
		gap: 15px;
		margin-top: 20px;
	}

	.footer__down p,
	.footer__down a {
		font-size: 12px;
		line-height: 130%;
	}
}
