.clients__slider .slider__buttons {
   display: flex;
   gap: 20px;
   max-width: 120px;
}

.clients__slider .slider__button {
   width: 50px;
   height: 50px;
}

.clients__slider .slider__button--next {
   transform: rotate(180deg);
}

.clients__slider .slider__icon {
   fill: #fff;
   stroke: #0045B2;
   transition: all 200ms ease;
}

.clients__slider .slider__button:hover .slider__icon {
   fill: #0045B2;
   stroke: #fff;
   --stroke-width: 0;
   --circle-radius: 25;
   transition: all 200ms ease;
}

.clients__slider .slider__box {
   position: relative;
   height: 410px;
   width: 100%;
   overflow: hidden;
}

.clients__slider .slider__container {
   position: absolute;
   top: 0px;
   display: flex;
   height: 100%;
}

.clients__slider .slider__slide--back {
   display: flex;
   padding: 40px;
   gap: 20px;
   flex-direction: column;
   z-index: 1;
   transform: rotateY(180deg);
   opacity: 0;
}


.clients__slider .slider__slide--front {
   z-index: 2;
}

.clients__slider .slider__slide--front,
.clients__slider .slider__slide--back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: transform 0.6s ease, opacity 0.6s ease;
}


.clients__slider .dop-info:hover~.slider__slide--front {
   transform: rotateY(180deg);
   opacity: 0;
}

.clients__slider .dop-info:hover~.slider__slide--back {
   transform: rotateY(0);
   opacity: 1;
}

.clients__slider .dop-info {
   line-height: 21.78px;
   color: rgba(151, 151, 151, 1);
   text-decoration: underline;
   position: absolute;
   bottom: 20px;
   right: 20px;
   z-index: 99;
   cursor: pointer;
}

.clients__slider .slider__slide {
   width: 860px;
   height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
   margin-right: 40px;
   background-color: var(--back-gray-light);
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
}

.clients__slider .slider__image {
   width: 100%;
   height: 100%;
   object-fit: none;
}

.clients__slider .slider__text {
   font-size: 20px;
   line-height: 32px;
}

.clients__slider {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: flex-end;
}


@media (max-width:1280px) {

   .clients__slider .slider__slide {
      width: 354px;
      height: 354px;
      margin-right: 20px;
   }

   .clients__slider .slider__box {
      height: 354px;
   }

   .clients__slider .slider__text {
      font-size: 14px;
      line-height: 19.6px;
   }
}