.list-big-number__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.list-big-number__item {
	max-width: 410px;
	display: flex;
	gap: 17px;
	width: 100%;
}

.list-big-number__step {
	width: 110px;
	margin-top: -20px;
	text-align: center;
	font-weight: var(--font-w4);
	font-size: 179px;
	line-height: 104%;
	color: var(--dark-blue);
}

.list-big-number__content {
	display: flex;
	flex: 2;
	flex-direction: column;
	gap: 15px;
}

.list-big-number__title {
	font-weight: var(--font-w4);
	font-size: 24px;
	line-height: 120%;
	color: var(--black);
}

.list-big-number__description {
	font-weight: var(--font-w4);
	font-size: 14px;
	line-height: 140%;
	color: rgb(var(--gray-text));
}

@media (max-width: 1280px) {
	.list-big-number__list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 30px;
	}

	.list-big-number__step {
		margin-top: -10px;
		width: 73px;
		font-size: 120px;
	}

	.list-big-number__title {
		font-size: 23px;
		line-height: 115%;
	}

	.list-big-number__description {
		font-size: 16px;
		line-height: 130%;
	}
}

@media (max-width: 600px) {
	.list-big-number__list {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.list-big-number__item {
		max-width: 100%;
		gap: 10px;
	}

	.list-big-number__content {
		gap: 7px;
	}

	.list-big-number__step {
		margin-top: 0px;
		width: 34px;
		font-size: 60px;
	}

	.list-big-number__title {
		font-size: 16px;
		line-height: 130%;
	}

	.list-big-number__description {
		font-size: 14px;
	}
}
