/* radio button */

.popup-contacts .popup-contacts-radio {
   display: flex;
   gap: 40px;
   margin: 40px 0;
}

.radio-button {
   display: flex;
   align-items: center;
}

.popup-contacts-tel {
   margin-bottom: 30px;
}

.custom-radio {
   position: relative;
   padding-left: 26px;
   cursor: pointer;
   font-size: 18px;
   user-select: none;
}

.custom-radio input[type="radio"] {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

.custom-radio input[type="radio"]:checked~.radio-checkmark::after {
   display: block;
}

.custom-radio input[type="radio"]:checked~.radio-checkmark {
   border: 2px solid var(--dark-blue);
}

.custom-radio span {
   vertical-align: middle;
}

.custom-radio .radio-checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: var(--white);
   border: 2px solid var(--gray);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* radio hover внутрений круг */
.custom-radio:hover input[type="radio"]~.radio-checkmark::before {
   display: block;
   background-color: var(--gray);
   opacity: .2;
}

/* radio hover+checked внутрений круг */
.custom-radio:hover input[type="radio"]:checked~.radio-checkmark::before {
   display: block;
   background-color: var(--dark-blue);
   opacity: 0.1;
}

/* radio checked+disabled  сам элемент*/
.custom-radio input[type="radio"]:checked:disabled~.radio-checkmark {
   display: block;
   border: 2px solid var(--silver);
}

/* radio checked+disabled внутрений круг */
.custom-radio input[type="radio"]:checked:disabled~.radio-checkmark::after {
   background-color: var(--silver)
}

/* radio checked+disabled+hover  внешний груг*/
.custom-radio:hover input[type="radio"]:checked:disabled~.radio-checkmark::before {
   background-color: var(--transparent);
}

/* radio checked  сам элемент*/
.custom-radio input[type="radio"]:disabled~.radio-checkmark {
   display: block;
   border: 2px solid var(--silver);
}

/* radio checked внутрений круг */
.custom-radio input[type="radio"]:disabled~.radio-checkmark::after {
   background-color: var(--silver)
}

/* radio checked+hover  внешний груг*/
.custom-radio:hover input[type="radio"]:disabled~.radio-checkmark::before {
   background-color: var(--transparent);
}

.custom-radio .radio-checkmark::after {
   content: "";
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   display: none;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--dark-blue);
}

.custom-radio .radio-checkmark::before {
   content: "";
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   display: none;
   width: 32px;
   height: 32px;
   border-radius: 50%;
}

.custom-radio .text-html {
   color: var(--medium-gray);

   font-size: 20px;

   line-height: 20.8px;
   text-align: left;
}

/* radio button */

.max-w-462px {
   max-width: 462px;
}

.popup-contacts-tel a {

   font-size: 50px;
   font-weight: var(--font-w5);
   line-height: 52.04px;
   color: var(--dark-blue);
}

.popup-contacts-contacts {
   display: flex;
   gap: 70px;
   justify-content: space-between;
}

.popup-contacts-contacts h5 {
   color: var(--gray);
   margin-bottom: 20px;
}

.popup-contacts-contacts p,
.popup-contacts-contacts a,
.popup-contacts-contacts-network a,
.popup-contacts-contacts h5,
.popup-contacts-newsletter p {

   font-size: 18px;

   line-height: 18.72px;

}

.popup-contacts-contacts p,
.popup-contacts-contacts a,
.popup-contacts-contacts-network a {
   color: var(--dark-blue);
}


.popup-contacts-contacts-office .working-hours {
   margin: 10px 0 30px 0;
}

.popup-contacts-contacts-network a {
   display: block;
   margin-bottom: 20px;
}

.popup-contacts-map {
   border: 1px solid var(--black);
   width: 100%;
   max-height: 290px;
   min-height: 160px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   margin: 35px 0;
}

.popup-contacts-newsletter p {
   color: var(--medium-gray);
}

.popup-contacts-newsletter-form .input {
   margin: 0;
}

.popup-contacts-newsletter-form {
   display: flex;
   gap: 20px;
   margin: 20px 0 10px 0;
   align-items: flex-end;
}

.popup-contacts-newsletter-form input::placeholder {

   color: var(--gray);
}

.popup-contacts-newsletter .popup-contacts-newsletter-form .button {
   max-width: 175px;
   font-size: 16px;
   font-weight: var(--font-w5);
   line-height: 19.36px;
   padding: 15px 0;
}

@media (max-width:1280px) {
   .popup-contacts-tel {
      margin-bottom: 40px;
   }
   
   .popup-contacts-tel a {
      font-size: 40px;
      line-height: 40px;
   }

   .popup-contacts-map {
      margin: 20px 0;
   }

   .popup-contacts-contacts p,
   .popup-contacts-contacts a,
   .popup-contacts-contacts-network a {
      font-size: 16px;
      line-height: 16.64px;
   }

   .popup-contacts .popup-contacts-radio {
      margin: 40px 0 50px 0;
   }


}


@media (max-width: 425px) {
   .custom-radio .text-html {
      font-size: 16px;
      line-height: 16.64px;
   }

   .popup-contacts .popup-contacts-radio {
      margin: 30px 0 50px 0;
   }

   .popup-contacts-contacts-office {
      max-width: 173px;
   }

   .popup-contacts-contacts {
      gap: 50px;
      justify-content: flex-start;
   }

   .popup-contacts-tel a {
      font-size: 30px;
      line-height: 31.2px;
   }

   .popup-contacts-tel {
      margin-bottom: 30px;
   }

   .popup-contacts-contacts h5 {
      font-size: 16px;
      line-height: 16.64px;
      margin-bottom: 20px;
   }

   .popup-contacts-contacts p,
   .popup-contacts-contacts a,
   .popup-contacts-contacts-network a {
      font-size: 14px;
      line-height: 14.56px;
   }

   .popup-contacts-map {
      margin: 30px 0 20px 0;
   }

   .popup-contacts-newsletter p {
      font-size: 16px;
      line-height: 20.16px;
   }

   .popup-contacts-newsletter-form {
      flex-direction: column;
   }

   .popup-contacts-newsletter .popup-contacts-newsletter-form .button {
      max-width: 100%;
      padding: 12px 0;
   }

   .popup-contacts-contacts-office .working-hours {
      margin: 25px 0 30px 0;
   }
}