.inventory__content {
   display: grid;
   grid-template-columns: repeat(3, minmax(165px, 1fr));
   grid-template-rows: repeat(3, minmax(165px, 1fr));
   gap: 40px;
}


.inventory__title {
   font-size: 30px;
   line-height: 31.22px;
   color: rgba(0, 69, 178, 1);

}

.inventory__content--item--img {
   aspect-ratio: 1;
   max-width: 410px;
   max-height: 410px;
   background-color: rgba(242, 242, 242, 1);
   margin-bottom: 8px
}

.inventory__content--item--img img {
   object-fit: contain;
   object-position: center;
   height: 100%;
}

.inventory__content--item--text p:nth-child(1) {
   font-size: 20px;
}

.inventory__content--item--text p:nth-child(2) {
   font-size: 20px;
   font-weight: 500;
   color: rgba(151, 151, 151, 1);
   margin: 8px 0;
}

.inventory__content--item--text p:nth-child(3) {
   font-size: 16px;
   line-height: 19.36px;
   color: rgba(151, 151, 151, 1);
}

@media (max-width:1280px) {
   .inventory__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 40px;
   }

   .inventory__content {
      display: grid;
      grid-template-columns: repeat(2, minmax(165px, 1fr));
      grid-template-rows: repeat(2, minmax(165px, 1fr));
      gap: 20px;
   }

   .inventory__content--item--text p:nth-child(1) {
      font-size: 18px;
   }

   .inventory__content--item--text p:nth-child(2) {
      font-size: 18px;
      margin: 6px 0;
   }

   .inventory__content--item--text p:nth-child(3) {
      font-size: 14px;
      line-height: 16.94px;
   }

   .inventory__content {
      gap: 20px
   }
}

@media (max-width:360px) {
   .inventory__content {
      grid-template-columns: 1fr;
      grid-template-rows: minmax(165px, 1fr);
      gap: 40px;
   }

   .inventory__content--item--text p:nth-child(1) {
      font-size: 16px;
      line-height: 19.36px;
   }

   .inventory__content--item--text p:nth-child(2) {
      font-size: 16px;
      line-height: 19.36px;
      font-weight: 500;
      margin: 7px 0;
   }

   .inventory__content--item--text p:nth-child(3) {
      font-size: 14px;
      line-height: 16.94px;
   }
}