.inventory__title {
	font-size: 30px;
	line-height: 31.22px;
	color: var(--dark-blue);
}

.inventory__content--item--img {
	aspect-ratio: 1;
	max-width: 410px;
	max-height: 410px;
	background-color: var(--light-gray);
	margin-bottom: 8px;
}

.inventory__content--item--img img {
	object-fit: contain;
	object-position: center;
	height: 100%;
	scale: 0.85;
}

.inventory__content--item--text p:nth-child(1) {
	font-size: 20px;
}

.inventory__content--item--text p:nth-child(2) {
	font-size: 20px;
	font-weight: var(--font-w5);
	color: var(--gray);
	margin: 8px 0;
}

.inventory__content--item--text p:nth-child(3) {
	font-size: 16px;
	line-height: 19.36px;
	color: var(--gray);
}

.inventory__content button {
	display: none;
}
.inventory__card {
	position: relative;
}
.inventory__card-tag svg {
	position: absolute;
	right: 0;
	bottom: 0;
}
.inventory__card-tag {
	width: max-content;
	max-width: 142px;
	min-width: 110px;
	position: absolute;
	padding: 15px 20px;
	background-color: rgb(var(--line));
}
.inventory__card-tag p {
	font-size: 18px;
	line-height: 100%;
	color: rgb(var(--gray-text));
}

@media (max-width: 1280px) {
	.inventory__title {
		font-size: 20px;
		line-height: 20px;
	}
	.inventory__content {
		margin-top: 50px;
	}
	.inventory__content--item--text p:nth-child(1) {
		font-size: 18px;
	}

	.inventory__content--item--text p:nth-child(2) {
		font-size: 18px;
		margin: 6px 0;
	}

	.inventory__content--item--text p:nth-child(3) {
		font-size: 14px;
		line-height: 16.94px;
	}

	.inventory__content button {
		display: block;
	}
	.inventory__card-tag {
		padding: 12px 20px;
	}
	.inventory__card-tag p {
		font-size: 14px;
		line-height: 130%;
	}
}

@media (max-width: 768px) {
	.inventory__content--item--text p:nth-child(1) {
		font-size: 16px;
		line-height: 19.36px;
	}

	.inventory__content--item--text p:nth-child(2) {
		font-size: 16px;
		line-height: 19.36px;
		font-weight: var(--font-w5);
		margin: 7px 0;
	}

	.inventory__content--item--text p:nth-child(3) {
		font-size: 14px;
		line-height: 16.94px;
	}

	.inventory__card-tag p {
		font-size: 12px;
	}
}
