@media (hover: hover) {

   .slider__pointer--hover,
   .slider__link:hover .slider__pointer {
      display: none;
   }

   .slider__link:hover .slider__pointer--hover {
      display: block;
   }
}

.slider__pointer--hover,
.slider__link:active .slider__pointer {
   display: none;
}

.slider__link:active .slider__pointer--hover {
   display: block;
}

.thanks-box {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.thanks-box .slider__custom {
   align-items: flex-end;
   gap: 20px;
}


.slider__slide {
   width: 560px;
   height: 360px;
   display: flex;
   flex-direction: column;
   padding: 35px 20px;
   position: relative;
   margin-right: 40px;
   background-color: var(--light-gray);
}

.slider__title {

   font-size: 24px;
   font-weight: var(--font-w5);
   line-height: 33.6px;
   color: var(--medium-gray);
}

.slider__main {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider__date {
   margin-top: 15px;
   font-size: 16px;
   line-height: 16.65px;
   color: var(--gray);
}

.slider__image {
   max-height: 162px;
   width: 100%;
   height: 100%;
   object-fit: none;
}

.slider__text {
   text-transform: uppercase;
   font-family: var(--font-arial);
   font-size: 24px;
   font-style: italic;
   line-height: 24.98px;
   color: var(--dark-blue);
}

.slider__link {
   height: 50px;
   width: 50px;
   bottom: 20px;
   right: 20px;
   position: absolute;
}

@media(max-width:1280px) {
   .thanks-box {}
}

@media(max-width:768px) {
   .thanks-box .slider__slide {
      padding: 15px;
      height: 320px
   }

   .slider__date {
      margin-top: 10px;
   }

   .slider__title {
      font-size: 17px;
      line-height: 21.6px;
   }

   .slider__image {
      max-height: 142px;
      object-fit: contain;
   }

   .thanks-box .slider__pointer,
   .thanks-box .slider__pointer--hover {
      width: 100%;
      height: 100%;
   }

   .slider__link {
      width: 38px;
      height: 38px;
      bottom: 10px;
      right: 10px;
   }

   .slider__text {
      font-size: 18px;
      line-height: 20.98px;
   }
}

/*@media (min-width:431px) and (max-width:490px) {
   .slider__image {
      max-height: 110px;
   }

   .thanks-box .slider__slide {
      height: 290px;
   }

   .slider__main {
      padding-top: 15px;
   }
}*/

@media(max-width:430px) {
   .slider__title {
      font-size: 16px;
      line-height: 18px;
   }

   .thanks-box .slider__slide {
      padding: 10px;
      width: 95vw !important;
   }
}