.home-advantages-leasing__title {
	margin-bottom: 50px;
}

@media (max-width: 1280px) {
	.home-advantages-leasing__title {
		margin-bottom: 40px;
	}
}

@media (max-width: 500px) {
	.home-advantages-leasing__title {
		margin-bottom: 30px;
	}
}
